<footer class="custom-footer">
    <div>
        <div>
            <h2>StayVista</h2>
        </div>
        <div class="footer-link">
            <a href="/listings">Home</a>
            <a href="/listings/about">About</a>
            <a href="/listings/privacy">Privacy</a>
            <a href="/listings/terms">Terms</a>
        </div>
        <div class="footer-icon">
            <a href="https://www.instagram.com/prajwal_rf_751?utm_source=qr&igsh=MWowODBocmRxNjZ0NA==" target="_blank"><i class="fa-brands fa-instagram" style="color: #db2929;"></i></a>
            <a href="https://linkedin.com/in/prajwal-nikam-5ab5a7326" target="_blank"><i class="fa-brands fa-linkedin" style="color: #1f84d1;"></i></a>
            <a href="https://github.com/prajwalnikam7131" target="_blank"><i class="fa-brands fa-square-github" style="color: #e8ebf1;"></i></a>
        </div>
        <div>
            <p class="copyright"> Copyright ©
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved by Prajwal Nikam
            </p>
        </div>
    </div>
</footer>