<nav class="navbar navbar-expand-lg custom-nav py-2 sticky-top" style="background-color: #394867;" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="custom-icon navbar-brand fs-3" href="/listings">StayVista</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/listings">All Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/listings/new">Add Accommodation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/listings/about">About</a>
                </li>
            </ul>
            <div class="d-none d-lg-flex justify-content-center flex-grow-1 mx-3">
                <form class="d-flex" role="search" method="post" action="/listings/search">
                    <input name="searchTerm" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                    <button class="btn" style="background-color: #F1F6F9; color: black;" type="submit">Search</button>
                </form>
            </div>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <% if(!currentUser) { %>
                <li class="nav-item ms-1 mb-2 mb-lg-0">
                    <a class="btn ssl-btn" href="/signup">Sign up</a>
                </li>
                <li class="nav-item ms-2 mb-2 mb-lg-0">
                    <a class="btn ssl-btn" href="/login">Login</a>
                </li>
                <% } %>
                <% if(currentUser){ %>
                <li class="nav-item ms-2  mb-md-1">
                    <a class="btn ssl-btn" href="/logout">Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="d-flex d-lg-none justify-content-center mt-2 custom custom-small-screen-navbar">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>