<div class="container container-fluid pb-4">
    <h2 class="mt-2 mb-2">Explore the Catalog</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <% for (const listing of allListings) { %>
            <div class="col">
                <a href="/listings/<%= listing._id %>" class="listing-link text-decoration-none">
                    <div class="card custom-card">
                        <img src="<%= listing.image.url %>" class="card-img-top custom-card-img" alt="img" style="height: 20rem;">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.1rem; margin: 0;"><b>
                                    <%= listing.title %>
                                </b></p>
                            <p class="card-text">₹<%= listing.price %> &#47;night</p>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
    </div>
</div>