<div class="container mt-2">
    <h2>Privacy Policy</h2>

    <h3>1. Introduction</h3>
    <p class="fs-5">Welcome to StayVista. We are committed to protecting your personal information and your right to
        privacy. If you
        have any questions or concerns about our policy, or our practices with regards to your personal information,
        please contact us.</p>

    <h3>2. Information We Collect</h3>
    <p class="fs-5">We collect personal information that you voluntarily provide to us when registering at the Services
        expressing an
        interest in obtaining information about us or our products and services, when participating in activities on the
        Services or otherwise contacting us.</p>
    <ul class="fs-5">
        <li>Personal Information: Name, email address, phone number, etc.</li>
        <li>Other Information: IP address, browser type, etc.</li>
    </ul>

    <h3>3. How We Use Your Information</h3>
    <p class="fs-5">We use personal information collected via our Services for a variety of business purposes described
        below. We
        process your personal information for these purposes in reliance on our legitimate business interests, in order
        to enter into or perform a contract with you, with your consent, and/or for compliance with our legal
        obligations.</p>
    <ul class="fs-5">
        <li>To facilitate account creation and logon process.</li>
        <li>To send administrative information to you.</li>
        <li>To fulfill and manage your orders.</li>
        <li>To post testimonials.</li>
        <li>To deliver targeted advertising to you.</li>
    </ul>

    <h3>4. Sharing Your Information</h3>
    <p class="fs-5">We only share information with your consent, to comply with laws, to provide you with services, to
        protect your
        rights, or to fulfill business obligations.</p>

    <h3>5. Security of Your Information</h3>
    <p class="fs-5">We use administrative, technical, and physical security measures to help protect your personal
        information. While
        we have taken reasonable steps to secure the personal information you provide to us, please be aware that
        despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be
        guaranteed against any interception or other type of misuse.</p>

    <h3>6. Your Privacy Rights</h3>
    <p class="fs-5">In some regions, such as the European Economic Area, you have rights that allow you greater access
        to and control
        over your personal information. You may review, change, or terminate your account at any time.</p>

    <h3>7. Contact Us</h3>
    <p class="fs-5">If you have questions or comments about this policy, you may contact us at:</p>
    <p><mark>Email: pn476964@gmail.com</mark></p>
</div>